

#materialtab{
    position:absolute;
    top:67.4px;
    left:200px;
    height:calc(100% - 67.4px) !important;
    background:#582c2c !important;
} 

#materialtab.shrink{
  width:70px !important;
  left:70px;
} 

#tabinputpage{
  width: calc(100% - 400px);
  top:67.4px;
  bottom:100px;
  min-height:0vh !important;
  height:calc(100% -67.4px);
  overflow-y: auto;
}




#tabinputpage.active{
  width: calc(100% - 140px);
  top:67.4px;
}





.bar{
  background:grey;
  position:fixed;
  bottom:42px;
  padding:10px;
  width:calc(100% - 400px);
}

.bar-sm{
  background:grey;
  position:fixed;
  bottom:42px;
  padding:10px;
  width:calc(100% - 140px);
}
    #foot {
        position:fixed !important;
        bottom: 0;
        width:calc(100%-400px) !important;
        }
        


@media (max-width: 1199px) {
    #materialtab {
      left:0px !important;
      width: 70px;
      text-align: center;
    }

    #materialtab.show-sm{ 
      left:70px !important;
    } 




    #tabinputpage{
      width: calc(100% - 70px);
      left:70px;
    }

    #tabinputpage.active-sm{
      width: calc(100% - 140px);
      left:140px;
    }

    #foot {
        position:fixed !important;
        bottom: 0;
        }
        
        #buttonbar{
        
          left:70px;
          width:100%
        }
      

}


